.lessonDocLink {
  color: white;
}

.student-icon {
  margin: auto;
}

.student-title {
  margin-right: 400px;
}

.page-menu {
  display: flex;
  justify-content: center;
}

.page-menu-title {
  text-align: left;
  margin-top: 5px;
  margin-right: 15px;
}

.lessonTitle-padding {
  padding: 15px;
  margin-left: 100px;
  margin-right: 10px;
}

.lect-vid {
  padding: 30px;
}

.icon {
  padding: 10px;
  font-size: 15px;
}
