.view {
  background: url('https://mdbootstrap.com/img/Photos/Others/img (50).jpg')no-repeat
    center center;
  background-size: cover;
}

.nb-space {
  margin-right: 10px;
}

.div-link{
  cursor: pointer;
}
