.gs-add-icon {
  margin: 5px;
  padding: 5px;
  color: #70db70;
}

.gs-minus-icon {
  margin: 5px;
  padding: 5px;
  color: red;
}

.lesson-box-border {
  border: solid 1px black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.pass-student {
  cursor: pointer;
}

.begin-teaching {
  cursor: pointer;
}

.lesson-tracker {
  margin-left: 25px;
}

.page-menu {
  style: flex;
  justify-content: center;
}

.page-menu-tabs {
  align-items: center;
}

.lesson-title {
  color: #343a40;
}

.submission-container a {
  display: inline-block;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(200, 200, 200, 0.7);
  color: #fff;
  padding: 5px;
}
.submission-container {
  display: flex;
}
